body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  min-width: max-content;
  min-height: max-content;
  padding: 20px;
}

#div_1 {
  background: red;
}

#div_2 {
  background: green;
}
#div_3 {
  background: orange;
}
